<!--右侧内容开始-->
<div class="content">
  <div class="main register maintain">
    <form #typeForms="ngForm">
      <h4>
        <strong>员工在职状态维护</strong>
      </h4>
      <div class="maintain_list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="info">
              <th>序号</th>
              <th>状态名称</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let type of typeList;let index=index">
              <td>{{index+1}}</td>
              <td>
                <span *ngIf="type.typeCode=='0'||type.typeCode=='1'"  class=" col-13" name="maintain">{{type.typeName}}</span>
                <input  #typeName [style.display]="type.typeCode=='0'||type.typeCode=='1'?'none':''" required class="form-control col-13" type="text" name="maintain1"
                  (input)="changeInput(typeName.value,index+1)" value="{{type.typeName}}">
                <div id="{{index+1}}" style="display: none" class="alert alert-danger">
                  <i class='glyphicon glyphicon-exclamation-sign'></i>请输入类别名称
                </div>
              </td>
              <td *ngIf="type.status=='0'" class="state">暂停使用</td>
              <td *ngIf="type.status=='1'" class="state">使用中</td>
              <td *ngIf="type.typeCode!='0'&& type.typeCode!='1'">
                <button *ngIf="type.status=='0'" type="button" (click)="startUse(type)" class="btn btn-primary startflag">开始使用</button>
                <button *ngIf="type.status=='1'" type="button" (click)="stopUse(type)" class="btn btn-default stopflag">暂停使用</button>
                <!--拉取的数据-->
                <button *ngIf="type.typeId!=''" type="button" class="btn btn-success" (click)="saveInfo(type.typeId, typeName.value,index+1)">保存</button>
                <button *ngIf="type.typeId!=''" type="button" class="btn btn-danger" (click)="deleteInfo(type)">删除</button>
                <!--添加的数据-->
                <button *ngIf="type.typeId==''" type="button" class="btn btn-success" (click)="createType(typeName.value,index+1)">保存</button>
                <button *ngIf="type.typeId==''" type="button" class="btn btn-danger" (click)="deleteAddInfo(index)">删除</button>
              </td>
              <td *ngIf="type.typeCode=='0'||type.typeCode=='1'"></td>
            </tr>
          </tbody>
        </table>
        <div class="btnArea">
          <button type="button" class="btn btn-add col-6 " (click)="addItem()">追加</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--右侧内容结束-->

<!-- 对话框开始 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        你确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary deleteFlag">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<!-- 对话框结束 -->