<!--右侧内容开始-->
<div class="content">
  <div class="main">
    <h4><strong>修改密码</strong></h4>
    <form #passwordForm="ngForm">
      <!-- <div class="form-group">
        <label for="oldPassword">Name</label>
        <input type="text" class="form-control" id="oldPassword"
               required
               [(ngModel)]="oldPassword" name="oldPassword"
               #name="ngModel">
        <div [hidden]="oldPassword.valid || oldPassword.pristine"
             class="alert alert-danger">
          oldPassword is required
        </div>
      </div>
       <button type="submit" class="btn btn-success" [disabled]="!passForm.form.valid">Submit</button>-->

      <div class="space clearfix">
        <div class="col-1">
          输入原密码：
        </div>
        <div class="col-8">
          <input type="password" [(ngModel)]=oldPassword id="oldPassword" required name="oldPassword" #oldPassword1="ngModel" class="form-control col-13">
          <span class="required">*</span>
          <div [hidden]="oldPassword1.valid || oldPassword1.pristine" class="alert alert-danger">
            <i class='glyphicon glyphicon-exclamation-sign'></i>请输入原密码
          </div>
        </div>
      </div>
      <div class="space clearfix">
        <div class="col-1">
          输入新密码：
        </div>
        <div class="col-8">
          <input type="password" [(ngModel)]=password id="password" required name="password1" #password1="ngModel" class="form-control col-13">
          <span class="required">*</span>
          <div [hidden]="password1.valid || password1.pristine" class="alert alert-danger">
            <i class='glyphicon glyphicon-exclamation-sign'></i>请输入新密码
          </div>
        </div>
      </div>
      <div class="space clearfix">
        <div class="col-1">
          确认新密码：
        </div>
        <div class="col-8">
          <input type="password" [(ngModel)]=confirmPassword id="confirmPassword1" required name="confirmPassword1" #confirmPassword1="ngModel"
            class="form-control col-13">
          <span class="required">*</span>
          <div [hidden]="confirmPassword1.valid || confirmPassword1.pristine" class="alert alert-danger">
            <i class='glyphicon glyphicon-exclamation-sign'></i>请输入确认密码
          </div>
          <div id="comPass" style="display: none" class="alert alert-danger">
            <i class='glyphicon glyphicon-exclamation-sign'></i>新密码与确认密码不一致
          </div>
        </div>
      </div>
      <div class="space clearfix">
        <div class="col-5">
          <button type="button" *ngIf=btnFlag (click)="changePassword()" class="btn btn-primary" style="margin-right:10px">确&nbsp;认</button>

          <button *ngIf=btnFlag type="button" (click)="cancelPassword();passwordForm.reset()" class="btn btn-primary">取&nbsp;消</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--右侧内容结束-->